<?xml version="1.0" encoding="UTF-8"?>
<!--  <beans xmlns="http://www.springframework.org/schema/beans"  
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"  
    xmlns:p="http://www.springframework.org/schema/p"  
    xmlns:context="http://www.springframework.org/schema/context"  
    xsi:schemaLocation="http://www.springframework.org/schema/beans  
http://www.springframework.org/schema/beans/spring-beans-3.0.xsd  
http://www.springframework.org/schema/context  
http://www.springframework.org/schema/context/spring-context-3.0.xsd">  -->


<beans xmlns="http://www.springframework.org/schema/beans"
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
xmlns:mvc="http://www.springframework.org/schema/mvc"
xsi:schemaLocation="  
        http://www.springframework.org/schema/beans  
        http://www.springframework.org/schema/beans/spring-beans.xsd  
        http://www.springframework.org/schema/context  
        http://www.springframework.org/schema/context/spring-context.xsd  
        http://www.springframework.org/schema/mvc  
        http://www.springframework.org/schema/mvc/spring-mvc.xsd">
        
        
        
        
<!--  
<mvc:annotation-driven content-negotiation-manager="contentNegotiationManager" /><bean id="contentNegotiationManager"
class="org.springframework.web.accept.ContentNegotiationManagerFactoryBean">
<property name="favorPathExtension" value="false" />
<property name="favorParameter" value="true" />
<property name="mediaTypes">
<value>

</value>
</property>
</bean>-->



<mvc:resources mapping ="/*" location="/"/>

<mvc:annotation-driven> </mvc:annotation-driven>
<context:annotation-config> </context:annotation-config>
<context:component-scan base-package="com.ust.mvc.*"></context:component-scan>

<bean id="empController" class="com.ust.mvc.EmpController"></bean>

<bean class="org.springframework.web.servlet.view.InternalResourceViewResolver" id="viewResolver">
<property name="prefix"> <value>/WEB-INF/</value></property>
<property name="suffix"><value>.jsp</value></property>
</bean>



<bean id="ds" class="org.springframework.jdbc.datasource.DriverManagerDataSource">  
<property name="driverClassName" value="com.mysql.cj.jdbc.Driver"></property>  
<property name="url" value="jdbc:mysql://localhost:3306/springdb"></property>  
<property name="username" value="root"></property>  
<property name="password" value="root"></property>  
</bean>  

<bean id="jt" class="org.springframework.jdbc.core.JdbcTemplate">
<property name="dataSource" ref="ds"></property>
</bean>

<bean id="dao" class="com.ust.mvc.EmpDao">
<property name="template" ref="jt"></property>
</bean>
<bean id="emp" class="com.ust.mvc.Emp"></bean>
</beans>