<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
<table border="1"  >
			<thead>
				<tr>
					<th>
					
							Employee First Name
					</th>
					
					<th>

							Employee Last Name
					</th>
					
					<th>

							Employee Email
					</th>
				
				</tr>
			</thead>
			<tbody>
				<tr th:each="employee : ${listEmployees}">
					<td th:text="${employee.firstName}"></td>
					<td th:text="${employee.lastName}"></td>
					<td th:text="${employee.email}"></td>
					<td> <a th:href="@{/showFormForUpdate/{id}(id=${employee.id})}" >Update</a>
					    <a th:href="@{/deleteEmployee/{id}(id=${employee.id})}" >Delete</a>
					</td>
					
				</tr>
			</tbody>
		</table>
		<a th:href=@{/newempform}>Add Employees</a>
</body>
</html>