.body{
    margin: 0px;
}
.header{
    width:1528px;
    height:100px;
    background-color: blue;
}
.logo{
    width: 30%;
    float: left;
    padding-top: 3%;
    
}
.logo_text{
    color: white;
    text-decoration: none;
    font-size: 45px;
    margin-left: 100px;
}
.login{
    float: left;
    padding-top: 3%;
    padding-left: 40%;
}
.forget{
    color: white;
    text-decoration: none;
}