<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Home</title>
<link rel="stylesheet" th:href="@{/style/style.css}">
	    
    <!-- Bootstrap CSS CDN -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" >
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" >
    <style>
    a {
    color: var(--white);
    text-decoration: none;
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
}
</style>
   </head>

<body>
    <div class="wrapper">
        <!-- Sidebar  -->
        
        <nav id="sidebar">
            <div class="sidebar-header">
                <h3>Employee Management</h3>
            </div>

            <ul class="list-unstyled components">
               
               
                <li  class="active">
                    <a th:href=@{home} >view employees</a>
                </li>
                <li>
                     <a th:href=@{newempform} >add employees</a>
                </li>
                <li>
                   <a href="/employees" >ADMIN DETAILS</a>
                </li>
 </ul>

           
        </nav>
        <!-- Page Content  -->
        <div id="content">

            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <div class="container-fluid">
                    <button type="button" id="sidebarCollapse" class="toggles-btn ">
                        <i class="fas fa-align-left"></i>
                        <span></span>
                    </button>
                        <ul class="nav navbar-nav ml-auto">
                            <li class="nav-item active">
                                <a class="nav-link" href="Home.html">Home</a>
                            </li>
                            
                            <li class="nav-item">
                                <a class="nav-link" href="/">Logout</a>
                            </li>
                        </ul>
                    </div>
              
            </nav>
           
               
        <div class="form-group">
<table style="width:900px"; class="table" >
			<thead>
				<tr>
					<th>
					
							ID
					</th>
					<th>

							NAME
					</th>
					<th>

							EMAIL				</th>
				
				</tr>
			</thead>
			<tbody>
				<tr th:each="col : ${employees}">
					<td th:text="${col.id}"></td>
					<td th:text="${col.name}"></td>
					<td th:text="${col.email}"></td>
					
				</tr>
			</tbody>
		</table>
		</div>
		</div>
    
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>


   
    <script type="text/javascript">
        $(document).ready(function () {
            $('#sidebarCollapse').on('click', function () {
                $('#sidebar').toggleClass('active');
            });
        });
    </script>
   
</body>
</html>