
<div class="form-group css-serial">
    <h1>Employee List</h1>
    <hr>
    <br>
    <table class="table auto-index">
    <thead>
        <tr>
            <th>Sl No </th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Email</th>
            <th>Actions</th>
        </tr>
    </thead>
<tbody>
    <tr *ngFor = "let employee  of employees">
        <td>#</td>
        <td>{{employee.firstName}}</td>
        <td>{{employee.lastName}}</td>
        <td>{{employee.email}}</td>
        <td>
            <a (click) = "updateEmployee(employee.id)" ><i class="fa fa-pencil" style="font-size:36px"></i></a>
            <a (click) = "deleteEmployee(employee.id)"> <i  class="fa fa-trash-o" style="font-size:36px;color:red"></i></a>
     
        </td>
    </tr>
</tbody>
</table>
</div>
